@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #ffffff;
  --background: #141414;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.blockIntroduction {
  animation: roundle 4s linear infinite;
  font-family: "Courier New", Courier, monospace;
}
.iconClick {
  animation: changeSize 0.5s linear infinite;
}
@keyframes roundle {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    font-weight: 600;
    font-size: 12px;
    width: 48px;
    height: 48px;
    bottom: 48px;
    right: 48px;
  }
  25% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    font-weight: 700;
    font-size: 16px;
    width: 64px;
    height: 64px;
    bottom: 40px;
    right: 40px;
  }
  50% {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
    font-weight: 600;
    font-size: 12px;
    width: 48px;
    height: 48px;
    bottom: 48px;
    right: 48px;
  }
  75% {
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
    font-weight: 700;
    font-size: 16px;
    width: 64px;
    height: 64px;
    bottom: 40px;
    right: 40px;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    font-weight: 600;
    font-size: 12px;
    width: 48px;
    height: 48px;
    bottom: 48px;
    right: 48px;
  }
}

@keyframes changeSize {
  50% {
    width: 14px;
    height: 14px;
  }
  100% {
    width: 24px;
    height: 24px;
  }
}
