@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #ffffff;
  --background: #141414;
}

body {
  color: var(--foreground);
  /* background: var(--background); */
  /* background: radial-gradient(circle at center, #f5f5dc, #001f3f); */
  font-family: Arial, Helvetica, sans-serif;
}

.blockIntroduction {
  animation: roundle 0.5s linear infinite;
  font-family: "Courier New", Courier, monospace;
}
.iconClick {
  animation: changeSize 0.5s linear infinite;
}

.raindrop {
  position: absolute;
  top: -10%;
  width: 2px;
  height: 15vh;
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes fall {
  to {
    transform: translateY(120vh);
  }
}

@keyframes roundle {
  0% {
    font-size: 24px;
    width: 48px;
    height: 48px;
    bottom: 48px;
    right: 48px;
  }
  50% {
    font-size: 32px;
    width: 48px;
    height: 48px;
    bottom: 48px;
    right: 48px;
  }
  100% {
    font-size: 24px;
    width: 48px;
    height: 48px;
    bottom: 48px;
    right: 48px;
  }
}

@keyframes changeSize {
  50% {
    width: 14px;
    height: 14px;
  }
  100% {
    width: 24px;
    height: 24px;
  }
}
